:root{--ts:24;--s:1;--ci:1;--cw:14;--ch:14;--u:url('./flags-atlas.svg');}
.flg{--x:0;--y:0;display:inline-block;width:calc(var(--ts)*var(--s)*1px);height:calc(var(--ts)*var(--s)*1px);background:var(--u) no-repeat;background-size:calc(var(--cw)*var(--ts)*var(--s)*1px) calc(var(--ch)*var(--ts)*var(--s)*1px);background-position:calc(var(--x)*var(--ts)*var(--s)*-1px) calc(var(--y)*var(--ts)*var(--s)*-1px);border-radius:50%;clip-path:circle(calc(50% - var(--ci)*var(--s)*1px));}
.flg.ad{--x:0;--y:0;}
.flg.ae{--x:1;--y:0;}
.flg.af{--x:2;--y:0;}
.flg.ag{--x:3;--y:0;}
.flg.al{--x:4;--y:0;}
.flg.am{--x:5;--y:0;}
.flg.ao{--x:6;--y:0;}
.flg.ar{--x:7;--y:0;}
.flg.at{--x:8;--y:0;}
.flg.au{--x:9;--y:0;}
.flg.az{--x:10;--y:0;}
.flg.ba{--x:11;--y:0;}
.flg.bb{--x:12;--y:0;}
.flg.bd{--x:13;--y:0;}
.flg.be{--x:0;--y:1;}
.flg.bf{--x:1;--y:1;}
.flg.bg{--x:2;--y:1;}
.flg.bh{--x:3;--y:1;}
.flg.bi{--x:4;--y:1;}
.flg.bj{--x:5;--y:1;}
.flg.bn{--x:6;--y:1;}
.flg.bo{--x:7;--y:1;}
.flg.br{--x:8;--y:1;}
.flg.bs{--x:9;--y:1;}
.flg.bt{--x:10;--y:1;}
.flg.bw{--x:11;--y:1;}
.flg.by{--x:12;--y:1;}
.flg.bz{--x:13;--y:1;}
.flg.ca{--x:0;--y:2;}
.flg.cd{--x:1;--y:2;}
.flg.cf{--x:2;--y:2;}
.flg.ch{--x:3;--y:2;}
.flg.cl{--x:4;--y:2;}
.flg.cm{--x:5;--y:2;}
.flg.cn{--x:6;--y:2;}
.flg.co{--x:7;--y:2;}
.flg.cr{--x:8;--y:2;}
.flg.cu{--x:9;--y:2;}
.flg.cy{--x:10;--y:2;}
.flg.cz{--x:11;--y:2;}
.flg.de{--x:12;--y:2;}
.flg.dj{--x:13;--y:2;}
.flg.dk{--x:0;--y:3;}
.flg.dm{--x:1;--y:3;}
.flg.do{--x:2;--y:3;}
.flg.dz{--x:3;--y:3;}
.flg.ec{--x:4;--y:3;}
.flg.ee{--x:5;--y:3;}
.flg.eg{--x:6;--y:3;}
.flg.er{--x:7;--y:3;}
.flg.es{--x:8;--y:3;}
.flg.et{--x:9;--y:3;}
.flg.fi{--x:10;--y:3;}
.flg.fj{--x:11;--y:3;}
.flg.fm{--x:12;--y:3;}
.flg.fr{--x:13;--y:3;}
.flg.ga{--x:0;--y:4;}
.flg.gb{--x:1;--y:4;}
.flg.gd{--x:2;--y:4;}
.flg.ge{--x:3;--y:4;}
.flg.gh{--x:4;--y:4;}
.flg.gm{--x:5;--y:4;}
.flg.gn{--x:6;--y:4;}
.flg.gq{--x:7;--y:4;}
.flg.gr{--x:8;--y:4;}
.flg.gt{--x:9;--y:4;}
.flg.gw{--x:10;--y:4;}
.flg.gy{--x:11;--y:4;}
.flg.hn{--x:12;--y:4;}
.flg.hr{--x:13;--y:4;}
.flg.ht{--x:0;--y:5;}
.flg.hu{--x:1;--y:5;}
.flg.id{--x:2;--y:5;}
.flg.ie{--x:3;--y:5;}
.flg.il{--x:4;--y:5;}
.flg.in{--x:5;--y:5;}
.flg.iq{--x:6;--y:5;}
.flg.ir{--x:7;--y:5;}
.flg.is{--x:8;--y:5;}
.flg.it{--x:9;--y:5;}
.flg.jm{--x:10;--y:5;}
.flg.jo{--x:11;--y:5;}
.flg.jp{--x:12;--y:5;}
.flg.ke{--x:13;--y:5;}
.flg.kg{--x:0;--y:6;}
.flg.kh{--x:1;--y:6;}
.flg.ki{--x:2;--y:6;}
.flg.km{--x:3;--y:6;}
.flg.kn{--x:4;--y:6;}
.flg.kp{--x:5;--y:6;}
.flg.kr{--x:6;--y:6;}
.flg.kw{--x:7;--y:6;}
.flg.kz{--x:8;--y:6;}
.flg.la{--x:9;--y:6;}
.flg.lb{--x:10;--y:6;}
.flg.lc{--x:11;--y:6;}
.flg.li{--x:12;--y:6;}
.flg.lk{--x:13;--y:6;}
.flg.lr{--x:0;--y:7;}
.flg.ls{--x:1;--y:7;}
.flg.lt{--x:2;--y:7;}
.flg.lu{--x:3;--y:7;}
.flg.lv{--x:4;--y:7;}
.flg.ly{--x:5;--y:7;}
.flg.ma{--x:6;--y:7;}
.flg.mc{--x:7;--y:7;}
.flg.md{--x:8;--y:7;}
.flg.me{--x:9;--y:7;}
.flg.mg{--x:10;--y:7;}
.flg.mh{--x:11;--y:7;}
.flg.mk{--x:12;--y:7;}
.flg.ml{--x:13;--y:7;}
.flg.mm{--x:0;--y:8;}
.flg.mn{--x:1;--y:8;}
.flg.mr{--x:2;--y:8;}
.flg.mt{--x:3;--y:8;}
.flg.mu{--x:4;--y:8;}
.flg.mv{--x:5;--y:8;}
.flg.mw{--x:6;--y:8;}
.flg.mx{--x:7;--y:8;}
.flg.my{--x:8;--y:8;}
.flg.mz{--x:9;--y:8;}
.flg.na{--x:10;--y:8;}
.flg.ne{--x:11;--y:8;}
.flg.ng{--x:12;--y:8;}
.flg.ni{--x:13;--y:8;}
.flg.nl{--x:0;--y:9;}
.flg.no{--x:1;--y:9;}
.flg.np{--x:2;--y:9;}
.flg.nr{--x:3;--y:9;}
.flg.nz{--x:4;--y:9;}
.flg.om{--x:5;--y:9;}
.flg.pa{--x:6;--y:9;}
.flg.pe{--x:7;--y:9;}
.flg.pg{--x:8;--y:9;}
.flg.ph{--x:9;--y:9;}
.flg.pk{--x:10;--y:9;}
.flg.pl{--x:11;--y:9;}
.flg.pt{--x:12;--y:9;}
.flg.pw{--x:13;--y:9;}
.flg.py{--x:0;--y:10;}
.flg.qa{--x:1;--y:10;}
.flg.ro{--x:2;--y:10;}
.flg.rs{--x:3;--y:10;}
.flg.ru{--x:4;--y:10;}
.flg.rw{--x:5;--y:10;}
.flg.sa{--x:6;--y:10;}
.flg.sb{--x:7;--y:10;}
.flg.sc{--x:8;--y:10;}
.flg.se{--x:9;--y:10;}
.flg.sg{--x:10;--y:10;}
.flg.si{--x:11;--y:10;}
.flg.sk{--x:12;--y:10;}
.flg.sl{--x:13;--y:10;}
.flg.sm{--x:0;--y:11;}
.flg.sn{--x:1;--y:11;}
.flg.so{--x:2;--y:11;}
.flg.sr{--x:3;--y:11;}
.flg.ss{--x:4;--y:11;}
.flg.st{--x:5;--y:11;}
.flg.sv{--x:6;--y:11;}
.flg.sy{--x:7;--y:11;}
.flg.sz{--x:8;--y:11;}
.flg.td{--x:9;--y:11;}
.flg.tg{--x:10;--y:11;}
.flg.th{--x:11;--y:11;}
.flg.tj{--x:12;--y:11;}
.flg.tl{--x:13;--y:11;}
.flg.tm{--x:0;--y:12;}
.flg.tn{--x:1;--y:12;}
.flg.to{--x:2;--y:12;}
.flg.tr{--x:3;--y:12;}
.flg.tt{--x:4;--y:12;}
.flg.tv{--x:5;--y:12;}
.flg.tz{--x:6;--y:12;}
.flg.ua{--x:7;--y:12;}
.flg.ug{--x:8;--y:12;}
.flg.us{--x:9;--y:12;}
.flg.uy{--x:10;--y:12;}
.flg.uz{--x:11;--y:12;}
.flg.vc{--x:12;--y:12;}
.flg.ve{--x:13;--y:12;}
.flg.vn{--x:0;--y:13;}
.flg.vu{--x:1;--y:13;}
.flg.ws{--x:2;--y:13;}
.flg.ye{--x:3;--y:13;}
.flg.za{--x:4;--y:13;}
.flg.zm{--x:5;--y:13;}
.flg.zw{--x:6;--y:13;}
